<?xml version="1.0"?>
<launch> 
  <arg name="rs_serial_no" default=""/> 
  <arg name="marker_type"  default="DICT_4X4_50" />
  
  <node name="rs_loc_w_marker" pkg="realsense_localization_w_fiducial_markers" respawn="false" output="screen">
    <param name="marker_type"          type="string" value="$(arg marker_type)" />
  </node>

</launch>
